@use "settings" as *;

@mixin base-styles {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    min-height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
  }

  body {
    margin: 0;
    padding: 0;
    background: var(--clr-background);
    color: var(--clr-text);
    font-family: var(--font-family);
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
  }

  p,
  li {
    line-height: $default-line-height;
  }

  ul {
    list-style: none;

    li {
      position: relative;

      &::before {
        content: "";
        background-color: var(--clr-accent);
        display: block;
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: calc(100% + 1rem);
        top: calc(#{$default-line-height}rem / 2);
        transform: translateY(-50%);
      }
    }
  }

  ol {
    list-style: none;
    counter-reset: list;

    li {
      position: relative;
      counter-increment: list;

      &::before {
        content: counter(list) ".";
        background-color: var(--clr-accent);
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: 1rem;
        position: absolute;
        right: calc(100% + 1rem);
        top: 50%;
        transform: translateY(-50%);
        padding: 0 0.25rem;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }

  b {
    font-weight: 600;
  }

  hr {
    border: none;
    border-top: $surface-border-width solid var(--clr-accent);
    width: 100%;
    margin: 1rem 0;
  }

  a {
    font-family: var(--font-family-variable);
    color: var(--clr-link);
    text-decoration: underline;
    text-decoration-color: var(--clr-link);
    font-variation-settings: "wght" 500;
    transition: font-variation-settings 0.3s;

    &:hover {
      font-variation-settings: "wght" 700;
    }

    .link-icon {
      vertical-align: super;
      font-size: 0.6em;
    }
  }

  address {
    font-style: normal;
  }

  svg.inline {
    margin: 0 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid var(--clr-accent);
      padding: 0.5rem;
    }

    th {
      background-color: var(--clr-accent);
      color: var(--clr-text);
    }

    tr:nth-child(even) {
      background-color: var(--clr-accent);
      color: var(--clr-text);
    }
  }

  code {
    background-color: var(--clr-accent);
    color: var(--clr-text);
    display: inline-block;
    padding: 0 0.25rem;
  }

  pre > code {
    display: block;
    overflow-x: auto;
    padding: 1rem;
    position: relative;

    .code-icon {
      font-size: 0.8rem;
      width: 1.2em;
      height: 1em;
      color: var(--clr-link);
      transition: color 0.3s;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: column;
      overflow: hidden;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      cursor: pointer;

      svg {
        transition:
          transform 0.3s,
          color 0.3s;
        color: var(--clr-link);
      }
    }

    &.code-copied .code-icon svg {
      transform: translateY(-100%);
      color: var(--clr-green);
    }
  }

  q {
    quotes: "“" "”" "‘" "’";
  }

  blockquote {
    quotes: "“" "”" "‘" "’";
    padding: 0 1rem;
    margin: 1rem;
    position: relative;
    width: fit-content;
    font-style: italic;

    &::before {
      content: open-quote;
      font-size: 4rem;
      line-height: 0;
      position: absolute;
      top: 1.5rem;
      left: -1rem;
      transform: translateY(100%);
      color: var(--clr-accent);
      z-index: -1;
    }

    &::after {
      content: close-quote;
      font-size: 4rem;
      line-height: 0;
      position: absolute;
      bottom: -0.5rem;
      right: -1rem;
      transform: translateY(100%);
      color: var(--clr-accent);
      z-index: -1;
    }
  }

  picture {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: 100%;
    }

    &.cover img {
      width: 100%;
      object-fit: cover;
    }

    &.border {
      border: $surface-border-width solid var(--clr-accent);
    }

    &.background {
      background-color: var(--clr-accent);
    }

    &.right {
      float: right;
      margin-left: 2rem;
    }

    &.left {
      float: left;
      margin-right: 2rem;
    }

    &.center {
      margin: 0 auto;
      display: block;
    }

    &.full {
      width: 100%;
      max-width: 100%;
    }

    &.half {
      width: 50%;
      max-width: 50%;
    }

    &.third {
      width: 33.333%;
      max-width: 33.333%;
    }

    &.quarter {
      width: 25%;
      max-width: 25%;
    }

    &.fifth {
      width: 20%;
      max-width: 20%;
    }

    &.sixth {
      width: 16.666%;
      max-width: 16.666%;
    }

    @media screen and (max-width: $narrow-breakpoint) {
      &.half,
      &.third,
      &.quarter,
      &.fifth,
      &.sixth {
        width: unset;
        max-width: unset;
        display: inline-block;
        margin: 1rem 0;
      }
    }
  }

  .divider {
    font-weight: bold;
    color: var(--clr-link);
    pointer-events: none;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 2rem - 0.2rem * $i;
      font-family: $heading-font-family;
      font-weight: 600;

      &.large {
        font-size: 3rem - 0.2rem * $i;

        @media screen and (max-width: 600px) {
          font-size: 2.5rem - 0.2rem * $i;
        }
      }

      &[id] {
        cursor: pointer;

        .link-icon {
          margin-left: 0.5rem;
          font-size: 0.8rem;
          width: 1.2em;
          height: 1em;
          color: var(--clr-link);
          transition: color 0.3s;
          vertical-align: super;
          display: inline-flex;
          align-items: center;
          justify-content: flex-start;
          flex-flow: column;
          overflow: hidden;

          svg {
            transition:
              transform 0.3s,
              color 0.3s;
            color: var(--clr-link);
          }
        }

        &.link-copied .link-icon svg {
          transform: translateY(-100%);
          color: var(--clr-green);
        }
      }
    }
  }

  .text-small {
    font-size: 0.8rem;
  }

  sup {
    font-size: 0.6rem;
  }
}
