@use "../settings" as *;

@mixin button-styles {
  button,
  .button {
    padding: 0.5rem;
    font-size: 1rem;
    border: $button-border-width solid var(--clr-accent);
    background-color: var(--clr-accent);
    color: var(--clr-text);
    cursor: pointer;
    font-family: inherit;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--clr-background);
    }

    &.secondary,
    .card &:not(.primary) {
      background-color: var(--clr-background);
      border-color: var(--clr-background);

      &:hover {
        background-color: var(--clr-accent);
      }
    }
  }
}
